@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}

.header-section{
    max-width: 1200px;
    margin: 0px auto;
    /* border: 1px solid salmon; */
    display: flex;
}
.nav-container{
    /* max-width: 1200px; */
    min-height: 40px;
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
    width: 50%;
}
p{
   
    color: #131318;
font-size: 30px;
font-weight: 800;
}
.nav-container img{
    width: 50px;
height: 50px;

}
p >span{
    padding-left: 15px;
}

.nav-items{
  /* border: 1px solid gold; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items a{
    text-decoration: none;
    color:  #424247;
font-size: 18px;
font-weight: 400px;
}
 .home{
font-size: 18px;
font-weight: 700;
}



/* main section */
main{
    max-width: 1200px;
    margin: 0px auto;    
}

/* Travel sction start */

.travel{
    /* min-width: 1200px;
    margin: 0px auto; */
    /* border: 2px solid red; */
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) ,url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat:no-repeat;
    border-radius: 16px;
    min-height: 500px;
}
.travel-title {
    color: #FFF;
font-size: 60px;
font-weight: 800;
text-align: center;
margin-bottom: 24px;
padding-top: 100px;
}
.travel-description{
 color: #FFF;
font-size: 15px;
font-weight: 400;
margin: 0px auto;
width: 50%;
}
.button-container{
    display: flex;
   justify-content: center;
    /* border-radius: 8px;
    background: rgba(255, 255, 255, 0.30); */
    /* padding: 15px;
   margin-top: 45px;  */
} 
.button{
    display: flex;
    justify-content: center;
    padding:15px ;
    /* padding: 16px 84px 16px; */
    background: rgba(255, 255, 255, 0.30);
    max-width: 600px;
    border-radius: 8px;
    margin-top: 45px;

}
.where-go , .when , .select{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    width: 170px;
    height: 45px;
    display: flex;
    align-items: center;
    margin-left: 18px;
}
/* .when{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}
.select{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
} */
.btn-praimary{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
    width: 170px;
    height: 45px;
    display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 18px;

}

/* Travel section end */

/* Tour section start */
.tours{
max-width: 1200px;
/* border: 2px solid red; */
display: flex;
margin-top: 100px;
}
.text-container{
/* border: 2px solid yellow; */
width: 50%;
}
.tours-title , .destination-title{
    color: #131318;
font-size: 40px;
font-weight: 800;
margin-bottom:20px ;

}
.tours-description , .destination-description{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.text-container > .btn-praimary{
    margin-top: 30px;
}

.images{
    /* border: 2px solid slateblue; */
    width: 50%;
    display: flex;
    justify-content: end;
    
}
.images img{
    width: 490px;
    height: 520px;
   background:url('../Images/Rectangle\ 4.png'),lightgray 50% / cover no-repeat;
    border-radius: 8px;
   
}

/* Tour section end */


.destination-container{
text-align: center;
margin-top: 100px;
}


.maldive{
    margin-top: 45px;
    display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.srilanka{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.bangladesh{
    display: flex;
    gap: 24px;
}